<h1><%= render @post %></h1>

<p>
  <%= @post.description %>
</p>

<hr />

<% if user_signed_in? %>
  <%= render "comments/form", comment: @post.comments.new %>

  <br />
<% end %>

<div class="space-y-4">
  <%= render @post.comments.order(created_at: :desc) %>
</div>
