@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body {
    @apply h-full font-mono;
  }
  main {
    @apply prose lg:prose-lg mx-auto max-w-4xl border p-8 shadow-md;
  }
  a[href] {
    @apply font-medium text-[--tw-prose-links] underline;
  }
  form:not(.button_to) {
    @apply flex flex-col justify-start gap-4;
  }
  form.button_to {
    @apply inline-block;
  }
  form.button_to [type="submit"] {
    @apply font-medium text-[--tw-prose-links] underline;
  }
  label:has(input, select, textarea) {
    @apply flex flex-col gap-1;
  }
  fieldset label:has(input[type="checkbox"], input[type="radio"]) {
    @apply flex flex-row items-center gap-2;
  }
  form:not(.button_to) [type="submit"],
  form:not(.button_to) [type="button"],
  form:not(.button_to) [type="file"]::-webkit-file-upload-button,
  form:not(.button_to) [type="file"]::file-selector-button,
  form:not(.button_to) button {
    @apply cursor-pointer bg-gray-200 px-2 py-1;
  }
  [type="submit"]:hover,
  [type="button"]:hover,
  button:hover {
    @apply bg-gray-300;
  }
  [type="reset"] {
    @apply cursor-pointer border border-gray-200 px-2 py-1;
  }
  [type="file"] {
    @apply border;
  }
  [type="file"]::-webkit-file-upload-button,
  [type="file"]::file-selector-button {
    @apply border-transparent;
  }
}
